.blogImg{
    width: 400px;
    height: 50vh;
}
p{
    font-family: sans-serif;
    color:rgb(56, 56, 56)
}
.paragraf{
    margin-top: 50px;
}
.paragraf p{
    font-size: 25px;
}
.BorderPa{
    border: 1px solid rgb(167, 163, 163);
    padding:30px;
    border-radius: 20px;
}
.Border2{
    border: 1px solid rgb(250, 243, 243);
    padding:20px;
    border: none;
}